---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Expertise from '../components/Expertise.astro';
import ClientShowcase from '../components/ClientShowcase.astro';
import Whitepapers from '../components/Whitepapers.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="ALTA INNOVATION | Roy Williamson - Innovation Strategy Consultant">
  <div class="min-h-screen bg-white">
    <Navigation />
    <Hero />
    <Expertise />
    <ClientShowcase />
    <Whitepapers />
    <Contact />
  </div>
</Layout>
